jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}
    bean: jasyptStringEncryptor


spring:
  profiles:
    default: local
  mail:
    host: smtp.gmail.com
    port: 587
    username: kjh22522252@gmail.com
    password: ENC(KJTTvFWL10rABIoKBDvGX/GCFZ837cc55s6y58DFQxw=)
    transport:
      protocol: smtp
    smtp:
      auth: true
      starttls:
        enable: true
  output:
    ansi:
      enabled: always

springdoc:
  swagger-ui:
    enabled: false
    tags-sorter: method
    operations-sorter: method
  api-docs:
    enabled: false


#recipe 조회 사용 url
recipeRequestUrl: h