server:
  port: 443
  ssl:
    enabled: true
    key-store: /home/ubuntu/dev/fridgebe-site.p12
    key-store-password: ENC(hszW13G6NdoeC8AcwJ/qenix8O6jiGXL)
    key-store-type: PKCS12
    key-alias: fridgebe-site

spring:
  config:
    import:
      - "classpath:/application/jpa.yml"
      - "classpath:/application/mail.yml"
      - "classpath:/application/oauth.yml"
      - "classpath:/application/image.yml"

  datasource:
    url: jdbc:oracle:thin:@fridgechef_high?TNS_ADMIN=/home/ubuntu/dev/Wallet_fridgeChef
    username: ADMIN
    password: ENC(mE7S46BWUTZS1ES17svBz72u6sA6c0No)
    driver-class-name: oracle.jdbc.OracleDriver

jwt:
  secret:
    private: /home/ubuntu/dev/fridgejwt.priv
    public: /home/ubuntu/dev/fridgejwt.pub
