jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}
    bean: jasyptStringEncryptor

spring:
  profiles:
    default: local
  output:
    ansi:
      enabled: always

logging:
  level:
    web: debug


# 테스트 중인 것 나중에 분리할 수 있도록 할 것

client:
  naver:
    uri: https://openapi.naver.com/v1/search
    Client-Id: ENC(G+gctodpscBDoYZv44qjVoYzi/wIS/8cMhjC3OjEmE8=)
    Client-Secret: ENC(peFfqHep89x4Alf2nzmu2+n8LgJ6lM35)

recipeRequestUrl: ENC(5gjvUs82oiPiWuGMTqVg8DHiQIssVJA6yKqG+HJo8YDujhFQztCphK6qAsWhHTsBQnJ6+taNKldsUjQ1iyoW1qVlI2dgv+1CeSyD2efR5g8TP9yJw3Un2w==)
