|===
|Part|Description|type|required

{{#requestParts}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{type}}{{/tableCellContent}}{{^type}}N/A{{/type}}
|{{#tableCellContent}}{{required}}{{/tableCellContent}}{{^required}}true{{/required}}
{{/requestParts}}
|===